.bgm-player {
  position: fixed; // 화면 스크롤과 상관없이 고정
  top: 20px;
  right: 20px;
  z-index: 999; // 다른 요소들보다 위에 보이도록 설정

  .control-button {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #eee;
    border-radius: 50%; // 원형 버튼
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}