@font-face {
  font-family: "Cafe24";
  src: url("./Cafe24Gowoonbam.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Allura";
  src: url("./AlluraRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HDHyundai";
  src: url("./Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bandal";
  src: url("./Hakgyoansim_BandalOTFL.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Siganpyo";
  src: url("./Hakgyoansim_SiganpyoOTFR.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MulgyeolB";
  src: url("./HakgyoansimMulgyeolOTFB.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}